<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Mini Cactpot Solver</title>
    <link rel='stylesheet' type='text/css' href='style.css'>
  </head>

  <body>
    <script>
    </script>
    <div class="content">
      <form class="cactpot" action="index.html" method="post">
        <div class="grid-container">
          <div class="grid-line 1">
            <p>Line 1</p>
          </div>
          <div class="grid-line 2">
            <p>Line 2</p>
          </div>
          <div class="grid-line 3">
            <p>Line 3</p>
          </div>
          <div class="grid-line 4">
            <p>Line 4</p>
          </div>

         <div class="box">
           <input type="text" name="ax" size="1" maxlength="1"
           onkeyup="this.value=this.value.replace(/[^\d]+/,'')">
         </div>
         <div class="box">
           <input type="text"
           name="bx" size="1" maxlength="1">
         </div>
         <div class="box">
           <input type="text" name="cx" size="1" maxlength="1"
           onkeyup="this.value=this.value.replace(/[^\d]+/,'')">
         </div>
         <div class="grid-line 5">
           <p>Line 5</p>
         </div>

         <div class="box">
           <input type="text" name="ay" size="1" maxlength="1"
           onkeyup="this.value=this.value.replace(/[^\d]+/,'')">
         </div>
         <div class="box">
           <input type="text" name="by" size="1" maxlength="1"
           onkeyup="this.value=this.value.replace(/[^\d]+/,'')">
         </div>
         <div class="box">
           <input type="text" name="cy" size="1" maxlength="1"
           onkeyup="this.value=this.value.replace(/[^\d]+/,'')">
         </div>
         <div class="grid-line 6">
           <p>Line 6</p>
         </div>

         <div class="box">
           <input type="text" name="az" size="1" maxlength="1"
           onkeyup="this.value=this.value.replace(/[^\d]+/,'')">
         </div>
         <div class="box">
           <input type="text" name="bz" size="1" maxlength="1"
           onkeyup="this.value=this.value.replace(/[^\d]+/,'')">
         </div>
         <div class="box">
           <input type="text" name="cz" size="1" maxlength="1"
           onkeyup="this.value=this.value.replace(/[^\d]+/,'')">
         </div>
         <div class="grid-line 7">
           <p>Line 7</p>
         </div>

         <div class="solve">
           <p><button>Solve!</button></p>
         </div>
         <div class="grid-line 8">
           <p>Line 8</p>
         </div>

       </form>
      </div>

      <table class="outputs">
        <tr>
          <td>Guaranteed Payout </td>
          <td>N/A </td><!-- Line name -->
          <td>N/A </td><!-- Payout vale -->
        </tr>
        <tr>
          <td>Highest Payout  </td>
          <td>N/A </td><!-- Line name -->
          <td>N/A </td><!-- Payout vale -->
        </tr>
      </table>
    </div>
  </body>
</html>
